
.animated-feature-cards:before {
    pointer-events: none;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 1.5rem;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    animation-duration: .3s
}

.animated-feature-cards:hover:before {
    opacity: 1
}

.animated-feature-cards:before {
    background: radial-gradient(1000px circle at var(--x) var(--y),var(--color-1) 0,var(--color-4) 25%,rgba(255,255,255,0) 50%,transparent 80%);
    z-index: -1;
    content: "";
    inset: -1px
}

@media (max-width: 768px) {
    .animated-feature-cards:before {
        background:none!important
    }
}

@keyframes shake {
    0%,to {
        transform: translate(0)
    }

    10%,30%,50%,70%,90% {
        transform: translate(-10px)
    }

    20%,40%,60%,80% {
        transform: translate(10px)
    }
}

.animate-shake {
    animation: shake .82s cubic-bezier(.36,.07,.19,.97) both
}
